version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "weekly"
    open-pull-requests-limit: 10
    reviewers:
      - "elastic/apm-agent-node-js"
    ignore:
      # For mimic-response, ignore all versions https://github.com/elastic/apm-agent-nodejs/pull/3349#issuecomment-1549517238
      - dependency-name: "mimic-response"

  - package-ecosystem: "npm"
    directory: "/test/instrumentation/azure-functions/fixtures/AJsAzureFnApp"
    schedule:
      interval: "weekly"
    open-pull-requests-limit: 5
    reviewers:
      - "elastic/apm-agent-node-js"

  - package-ecosystem: "npm"
    directory: "/test/instrumentation/modules/next/a-nextjs-app"
    schedule:
      interval: "weekly"
    open-pull-requests-limit: 5
    reviewers:
      - "elastic/apm-agent-node-js"

  - package-ecosystem: "npm"
    directory: "/test/opentelemetry-bridge"
    schedule:
      interval: "weekly"
    open-pull-requests-limit: 5
    reviewers:
      - "elastic/apm-agent-node-js"

  - package-ecosystem: "npm"
    directory: "/test/opentelemetry-metrics/fixtures"
    schedule:
      interval: "weekly"
    open-pull-requests-limit: 5
    reviewers:
      - "elastic/apm-agent-node-js"

  - package-ecosystem: "npm"
    directory: "/examples/opentelemetry-bridge"
    schedule:
      interval: "weekly"
    open-pull-requests-limit: 5
    reviewers:
      - "elastic/apm-agent-node-js"
