# Files to ignore
.DS_Store
.vscode
package-lock.json
test/babel/out.js
test/types/transpile/index.js

# Folders to ignore
.nyc_output
build
coverage
node_modules
test/benchmarks/.tmp
coverage.lcov
test-suite-output.tap
