# Files to ignore
.DS_Store
/.vscode
/test/babel/out.js
/test/types/transpile/index.js
/test/types/transpile-default/index.js
/test-suite-output.tap

# Folders to ignore
/.nyc_output
/test_output
/build
node_modules
/test/benchmarks/.tmp
/tmp
/examples/*/dist
