# Files to ignore
.DS_Store
/.vscode
/coverage.lcov
/package-lock.json
/test/babel/out.js
/test/types/transpile/index.js
/test-suite-output.tap
/docker-compose.err
/docker-compose.log

# Folders to ignore
/.nyc_output
/build
/coverage
/node_modules
/test/benchmarks/.tmp
/tmp
