# We don't need sudo as such, but setting sudo: required allows us to run on
# the faster machines which means that the builds complete much faster (in
# about half the time). For comparison, here are two builds on the two
# different machines:
# - With `sudo: false`: https://travis-ci.org/opbeat/opbeat-node/builds/252301998
# - With `sudo: required`: https://travis-ci.org/opbeat/opbeat-node/builds/252302576
sudo: required
dist: trusty

language: node_js

services:
  - mysql
  - mongodb
  - redis-server
  - postgresql
  - cassandra
  - memcached
  
cache:
  npm: false
  directories:
    - deb-cache
  
env:
  global:
    - ELASTICSEARCH_DEB_VERSION=6.6.0
    - ELASTICSEARCH_DEB_PACKAGE=elasticsearch-${ELASTICSEARCH_DEB_VERSION}.deb

before_install:
  - |
    if [ ! -f ./deb-cache/$ELASTICSEARCH_DEB_PACKAGE ]
    then
      curl -o ./deb-cache/$ELASTICSEARCH_DEB_PACKAGE https://artifacts.elastic.co/downloads/elasticsearch/$ELASTICSEARCH_DEB_PACKAGE
    fi
  - sudo dpkg -i --force-confnew ./deb-cache/$ELASTICSEARCH_DEB_PACKAGE && sudo service elasticsearch restart

install:
  - for i in {1..3}; do travis_wait 5 npm install && break; rm -rf node_modules; done

before_script:
  - wait-on tcp:9200

node_js:
  - '14'
  - '14.0'
  - '13'
  - '13.0'
  - '12'
  - '12.0'
  - '10'
  - '10.0'
  - '8'
  - '8.6'

jobs:
  fast_finish: true

  include:
    # Disable Async Hooks
    -
      node_js: '13'
      env: ELASTIC_APM_ASYNC_HOOKS=false
    -
      node_js: '12'
      env: ELASTIC_APM_ASYNC_HOOKS=false
    -
      node_js: '10'
      env: ELASTIC_APM_ASYNC_HOOKS=false
    -
      node_js: '8'
      env: ELASTIC_APM_ASYNC_HOOKS=false

    # Commit Messages
    -
      node_js: 'lts/*'
      name: "Lint Commit Messages"
      script: commitlint-travis

    # Coverage
    -
      node_js: 'lts/*'
      name: "Code Coverage"
      script:
        - npm run coverage
        - ./node_modules/.bin/nyc report --reporter=lcov > coverage.lcov
        - npm install -g codecov
        - codecov

addons:
  apt:
    packages:
     - xsltproc
     - libxml2-utils
