# We don't need sudo as such, but setting sudo: required allows us to run on
# the faster machines which means that the builds complete much faster (in
# about half the time). For comparison, here are two builds on the two
# different machines:
# - With `sudo: false`: https://travis-ci.org/opbeat/opbeat-node/builds/252301998
# - With `sudo: required`: https://travis-ci.org/opbeat/opbeat-node/builds/252302576
sudo: required

language: node_js

services:
  - mysql
  - mongodb
  - redis-server
  - postgresql
  - elasticsearch

before_script:
  - wait-on tcp:9200

node_js:
  - '10'
  - '9'
  - '8'
  - '6'
  - '4'

jobs:
  fast_finish: true

  include:

    ###########################################
    #                TEST STAGE               #
    ###########################################

    # Disable Async Hooks
    -
      node_js: '10'
      env: ELASTIC_APM_ASYNC_HOOKS=0
    -
      node_js: '9'
      env: ELASTIC_APM_ASYNC_HOOKS=0
    -
      node_js: '8'
      env: ELASTIC_APM_ASYNC_HOOKS=0

    # Docs
    -
      script: npm run docs
      perl: '5.26'

    # Commit Messages
    -
      node_js: 'lts/*'
      script: commitlint-travis

    # Coverage
    -
      node_js: 'lts/*'
      script:
        - npm run coverage
        - ./node_modules/.bin/nyc report --reporter=lcov > coverage.lcov
        - npm install -g codecov
        - codecov

    ###########################################
    #            DEPENDENCY STAGE             #
    ###########################################

    # Node.js 10
    - stage: dependencies
      node_js: '10'
      if: type IN (cron, pull_request) AND NOT branch =~ ^greenkeeper/.*
      env: TAV=generic-pool,mysql,mysql2,redis,koa-router,handlebars,mongodb-core
      script: tav --quiet
    -
      node_js: '10'
      if: type IN (cron, pull_request) AND NOT branch =~ ^greenkeeper/.*
      env: TAV=ioredis,pg
      script: tav --quiet
    -
      node_js: '10'
      if: type IN (cron, pull_request) AND NOT branch =~ ^greenkeeper/.*
      env: TAV=mimic-response,got,bluebird
      script: tav --quiet
    -
      node_js: '10'
      if: type IN (cron, pull_request) AND NOT branch =~ ^greenkeeper/.*
      env: TAV=knex,ws,graphql,express-graphql,elasticsearch,hapi,express,express-queue
      script: tav --quiet

    # Node.js 9
    - stage: dependencies
      node_js: '9'
      if: type IN (cron, pull_request) AND NOT branch =~ ^greenkeeper/.*
      env: TAV=generic-pool,mysql,mysql2,redis,koa-router,handlebars,mongodb-core
      script: tav --quiet
    -
      node_js: '9'
      if: type IN (cron, pull_request) AND NOT branch =~ ^greenkeeper/.*
      env: TAV=ioredis,pg
      script: tav --quiet
    -
      node_js: '9'
      if: type IN (cron, pull_request) AND NOT branch =~ ^greenkeeper/.*
      env: TAV=mimic-response,got,bluebird
      script: tav --quiet
    -
      node_js: '9'
      if: type IN (cron, pull_request) AND NOT branch =~ ^greenkeeper/.*
      env: TAV=knex,ws,graphql,express-graphql,elasticsearch,hapi,express,express-queue
      script: tav --quiet

    # Node.js 8
    -
      node_js: '8'
      if: type IN (cron, pull_request) AND NOT branch =~ ^greenkeeper/.*
      env: TAV=generic-pool,mysql,mysql2,redis,koa-router,handlebars,mongodb-core
      script: tav --quiet
    -
      node_js: '8'
      if: type IN (cron, pull_request) AND NOT branch =~ ^greenkeeper/.*
      env: TAV=ioredis,pg
      script: tav --quiet
    -
      node_js: '8'
      if: type IN (cron, pull_request) AND NOT branch =~ ^greenkeeper/.*
      env: TAV=mimic-response,got,bluebird
      script: tav --quiet
    -
      node_js: '8'
      if: type IN (cron, pull_request) AND NOT branch =~ ^greenkeeper/.*
      env: TAV=knex,ws,graphql,express-graphql,elasticsearch,hapi,express,express-queue
      script: tav --quiet

    # Node.js 6
    -
      node_js: '6'
      if: type IN (cron, pull_request) AND NOT branch =~ ^greenkeeper/.*
      env: TAV=generic-pool,mysql,mysql2,redis,koa-router,handlebars,mongodb-core
      script: tav --quiet
    -
      node_js: '6'
      if: type IN (cron, pull_request) AND NOT branch =~ ^greenkeeper/.*
      env: TAV=ioredis,pg
      script: tav --quiet
    -
      node_js: '6'
      if: type IN (cron, pull_request) AND NOT branch =~ ^greenkeeper/.*
      env: TAV=mimic-response,got,bluebird
      script: tav --quiet
    -
      node_js: '6'
      if: type IN (cron, pull_request) AND NOT branch =~ ^greenkeeper/.*
      env: TAV=knex,ws,graphql,express-graphql,elasticsearch,hapi,express,express-queue
      script: tav --quiet

    # Node.js 4
    -
      node_js: '4'
      if: type IN (cron, pull_request) AND NOT branch =~ ^greenkeeper/.*
      env: TAV=generic-pool,mysql,mysql2,redis,koa-router,handlebars,mongodb-core
      script: tav --quiet
    -
      node_js: '4'
      if: type IN (cron, pull_request) AND NOT branch =~ ^greenkeeper/.*
      env: TAV=ioredis,pg
      script: tav --quiet
    -
      node_js: '4'
      if: type IN (cron, pull_request) AND NOT branch =~ ^greenkeeper/.*
      env: TAV=mimic-response,got,bluebird
      script: tav --quiet
    -
      node_js: '4'
      if: type IN (cron, pull_request) AND NOT branch =~ ^greenkeeper/.*
      env: TAV=knex,ws,graphql,express-graphql,elasticsearch,hapi,express,express-queue
      script: tav --quiet

    ###########################################
    #        NODE.JS PRE-RELEASE STAGE        #
    ###########################################

    # Nightlies
    - stage: Node.js pre-releases
      node_js: '11'
      if: type = cron
      env: NVM_NODEJS_ORG_MIRROR=https://nodejs.org/download/nightly/
    -
      node_js: '10'
      if: type = cron
      env: NVM_NODEJS_ORG_MIRROR=https://nodejs.org/download/nightly/
    -
      node_js: '8'
      if: type = cron
      env: NVM_NODEJS_ORG_MIRROR=https://nodejs.org/download/nightly/
    -
      node_js: '6'
      if: type = cron
      env: NVM_NODEJS_ORG_MIRROR=https://nodejs.org/download/nightly/

    # Nightlies - No async hooks
    - stage: Node.js pre-releases
      node_js: '11'
      if: type = cron
      env:
        - ELASTIC_APM_ASYNC_HOOKS=0
        - NVM_NODEJS_ORG_MIRROR=https://nodejs.org/download/nightly/
    -
      node_js: '10'
      if: type = cron
      env:
        - ELASTIC_APM_ASYNC_HOOKS=0
        - NVM_NODEJS_ORG_MIRROR=https://nodejs.org/download/nightly/
    -
      node_js: '8'
      if: type = cron
      env:
        - ELASTIC_APM_ASYNC_HOOKS=0
        - NVM_NODEJS_ORG_MIRROR=https://nodejs.org/download/nightly/

    # Release Candidates
    -
      node_js: '10'
      if: type = cron
      env: NVM_NODEJS_ORG_MIRROR=https://nodejs.org/download/rc/
    -
      node_js: '8'
      if: type = cron
      env: NVM_NODEJS_ORG_MIRROR=https://nodejs.org/download/rc/
    -
      node_js: '6'
      if: type = cron
      env: NVM_NODEJS_ORG_MIRROR=https://nodejs.org/download/rc/

    # Release Candidates - No async hooks
    -
      node_js: '10'
      if: type = cron
      env:
        - ELASTIC_APM_ASYNC_HOOKS=0
        - NVM_NODEJS_ORG_MIRROR=https://nodejs.org/download/rc/
    -
      node_js: '8'
      if: type = cron
      env:
        - ELASTIC_APM_ASYNC_HOOKS=0
        - NVM_NODEJS_ORG_MIRROR=https://nodejs.org/download/rc/

addons:
  apt:
    packages:
     - xsltproc
     - libxml2-utils

notifications:
  email:
    - watson@elastic.co
  slack:
    secure: Jq9ST6TYsZZtPgUdn60rZCfcclNF1cXaCqemt9ZKvqlDie9kbyJjU9t0K+EFdlQXgzM5sGAC+okRO9c29zMDuWvsuY6wb5K2p9j1cxfOn1FTc4xcxh/fKelu1Q7nGaMOIPvQuoI/TQBo4pwACyjli+ohz7DMVMRcans6GR+P0S8=
    on_success: change
    on_failure: change
    on_pull_requests: false
