# We don't need sudo as such, but setting sudo: required allows us to run on
# the faster machines which means that the builds complete much faster (in
# about half the time). For comparison, here are two builds on the two
# different machines:
# - With `sudo: false`: https://travis-ci.org/opbeat/opbeat-node/builds/252301998
# - With `sudo: required`: https://travis-ci.org/opbeat/opbeat-node/builds/252302576
sudo: required

language: node_js

services:
- mysql
- mongodb
- redis-server
- postgresql
- elasticsearch

before_script:
  - wait-on tcp:9200

node_js:
  - '9'
  - '8'
  - '6'
  - '4'

stages:
  - test
  - name: dependencies
    if: 'head_branch =~ ^(?!greenkeeper/)' # No need to run tav tests for greenkeeper PR's
    script: tav --quiet

jobs:
  fast_finish: true

  include:

    ###########################################
    #                TEST STAGE               #
    ###########################################

    # Disable Async Hooks
    -
      node_js: '9'
      env: ELASTIC_APM_ASYNC_HOOKS=0
    -
      node_js: '8'
      env: ELASTIC_APM_ASYNC_HOOKS=0

    # Docs
    -
      script: npm run docs
      perl: '5.26'

    # Coverage
    -
      script:
        - npm run coverage
        - ./node_modules/.bin/nyc report --reporter=lcov > coverage.lcov
        - npm install -g codecov
        - codecov

    ###########################################
    #            DEPENDENCY STAGE             #
    ###########################################

    # Node.js 9
    - stage: dependencies
      node_js: '9'
      env: TAV=generic-pool,mysql,redis,koa-router,handlebars,mongodb-core
    -
      node_js: '9'
      env: TAV=ioredis,pg
    -
      node_js: '9'
      env: TAV=bluebird
    -
      node_js: '9'
      env: TAV=knex,ws,graphql,express-graphql,elasticsearch,hapi,express

    # Node.js 8
    -
      node_js: '8'
      env: TAV=generic-pool,mysql,redis,koa-router,handlebars,mongodb-core
    -
      node_js: '8'
      env: TAV=ioredis,pg
    -
      node_js: '8'
      env: TAV=bluebird
    -
      node_js: '8'
      env: TAV=knex,ws,graphql,express-graphql,elasticsearch,hapi,express

    # Node.js 6
    -
      node_js: '6'
      env: TAV=generic-pool,mysql,redis,koa-router,handlebars,mongodb-core
    -
      node_js: '6'
      env: TAV=ioredis,pg
    -
      node_js: '6'
      env: TAV=bluebird
    -
      node_js: '6'
      env: TAV=knex,ws,graphql,express-graphql,elasticsearch,hapi,express

    # Node.js 4
    -
      node_js: '4'
      env: TAV=generic-pool,mysql,redis,koa-router,handlebars,mongodb-core
    -
      node_js: '4'
      env: TAV=ioredis,pg
    -
      node_js: '4'
      env: TAV=bluebird
    -
      node_js: '4'
      env: TAV=knex,ws,graphql,express-graphql,elasticsearch,hapi,express

addons:
  apt:
    packages:
     - xsltproc
     - libxml2-utils

notifications:
  email:
    - watson@elastic.co
  slack:
    secure: Jq9ST6TYsZZtPgUdn60rZCfcclNF1cXaCqemt9ZKvqlDie9kbyJjU9t0K+EFdlQXgzM5sGAC+okRO9c29zMDuWvsuY6wb5K2p9j1cxfOn1FTc4xcxh/fKelu1Q7nGaMOIPvQuoI/TQBo4pwACyjli+ohz7DMVMRcans6GR+P0S8=
    on_success: change
    on_failure: change
    on_pull_requests: false
