# We don't need sudo as such, but setting sudo: required allows us to run on
# the faster machines which means that the builds complete much faster (in
# about half the time). For comparison, here are two builds on the two
# different machines:
# - With `sudo: false`: https://travis-ci.org/opbeat/opbeat-node/builds/252301998
# - With `sudo: required`: https://travis-ci.org/opbeat/opbeat-node/builds/252302576
sudo: required
dist: trusty

language: node_js

services:
  - mysql
  - mongodb
  - redis-server
  - postgresql
  - cassandra

before_install:
  - curl -O https://artifacts.elastic.co/downloads/elasticsearch/elasticsearch-6.6.0.deb && sudo dpkg -i --force-confnew elasticsearch-6.6.0.deb && sudo service elasticsearch restart

install:
  - for i in {1..3}; do travis_wait 5 npm install && break; rm -rf node_modules; done

before_script:
  - npm install -g npm@latest
  - wait-on tcp:9200

node_js:
  - '12'
  - '12.0'
  - '11'
  - '11.0'
  - '10'
  - '10.0'
  - '8'
  - '8.1'
  - '6'
  - '6.0'

jobs:
  fast_finish: true

  include:

    ###########################################
    #                TEST STAGE               #
    ###########################################

    # Disable Async Hooks
    -
      node_js: '12'
      env: ELASTIC_APM_ASYNC_HOOKS=false
    -
      node_js: '11'
      env: ELASTIC_APM_ASYNC_HOOKS=false
    -
      node_js: '10'
      env: ELASTIC_APM_ASYNC_HOOKS=false
    -
      node_js: '8'
      env: ELASTIC_APM_ASYNC_HOOKS=false

    # Docs
    -
      script: npm run docs:build
      name: "Build Docs"

    # Commit Messages
    -
      node_js: 'lts/*'
      name: "Lint Commit Messages"
      script: commitlint-travis

    # Coverage
    -
      node_js: 'lts/*'
      name: "Code Coverage"
      script:
        - npm run coverage
        - ./node_modules/.bin/nyc report --reporter=lcov > coverage.lcov
        - npm install -g codecov
        - codecov

    ###########################################
    #            DEPENDENCY STAGE             #
    ###########################################

    # Node.js 12
    - stage: dependencies
      node_js: '12'
      if: type IN (cron, pull_request) AND NOT branch =~ ^greenkeeper/.*
      env: TAV=redis,koa-router,handlebars,jade,pug,mongodb-core,finalhandler
      script: tav --quiet
    -
      node_js: '12'
      if: type IN (cron, pull_request) AND NOT branch =~ ^greenkeeper/.*
      env: TAV=pg,cassandra-driver,restify
      script: tav --quiet
    -
      node_js: '12'
      if: type IN (cron, pull_request) AND NOT branch =~ ^greenkeeper/.*
      env: TAV=got,bluebird,apollo-server-express
      script: tav --quiet
    -
      node_js: '12'
      if: type IN (cron, pull_request) AND NOT branch =~ ^greenkeeper/.*
      env: TAV=ws,graphql,express-graphql,elasticsearch,hapi,express,express-queue
      script: tav --quiet
    -
      node_js: '12'
      if: type IN (cron, pull_request) AND NOT branch =~ ^greenkeeper/.*
      env: TAV=fastify,mysql,mysql2,knex,mimic-response,ioredis,generic-pool
      script: tav --quiet

    # Node.js 11
    - stage: dependencies
      node_js: '11'
      if: type IN (cron, pull_request) AND NOT branch =~ ^greenkeeper/.*
      env: TAV=redis,koa-router,handlebars,jade,pug,mongodb-core,finalhandler
      script: tav --quiet
    -
      node_js: '11'
      if: type IN (cron, pull_request) AND NOT branch =~ ^greenkeeper/.*
      env: TAV=pg,cassandra-driver,restify
      script: tav --quiet
    -
      node_js: '11'
      if: type IN (cron, pull_request) AND NOT branch =~ ^greenkeeper/.*
      env: TAV=got,bluebird,apollo-server-express
      script: tav --quiet
    -
      node_js: '11'
      if: type IN (cron, pull_request) AND NOT branch =~ ^greenkeeper/.*
      env: TAV=ws,graphql,express-graphql,elasticsearch,hapi,express,express-queue
      script: tav --quiet
    -
      node_js: '11'
      if: type IN (cron, pull_request) AND NOT branch =~ ^greenkeeper/.*
      env: TAV=fastify,mysql,mysql2,knex,mimic-response,ioredis,generic-pool
      script: tav --quiet

    # Node.js 10
    - stage: dependencies
      node_js: '10'
      if: type IN (cron, pull_request) AND NOT branch =~ ^greenkeeper/.*
      env: TAV=redis,koa-router,handlebars,jade,pug,mongodb-core,finalhandler
      script: tav --quiet
    -
      node_js: '10'
      if: type IN (cron, pull_request) AND NOT branch =~ ^greenkeeper/.*
      env: TAV=pg,cassandra-driver,restify
      script: tav --quiet
    -
      node_js: '10'
      if: type IN (cron, pull_request) AND NOT branch =~ ^greenkeeper/.*
      env: TAV=got,bluebird,apollo-server-express
      script: tav --quiet
    -
      node_js: '10'
      if: type IN (cron, pull_request) AND NOT branch =~ ^greenkeeper/.*
      env: TAV=ws,graphql,express-graphql,elasticsearch,hapi,express,express-queue
      script: tav --quiet
    -
      node_js: '10'
      if: type IN (cron, pull_request) AND NOT branch =~ ^greenkeeper/.*
      env: TAV=fastify,mysql,mysql2,knex,mimic-response,ioredis,generic-pool
      script: tav --quiet

    # Node.js 8
    -
      node_js: '8'
      if: type IN (cron, pull_request) AND NOT branch =~ ^greenkeeper/.*
      env: TAV=redis,koa-router,handlebars,jade,pug,mongodb-core,finalhandler
      script: tav --quiet
    -
      node_js: '8'
      if: type IN (cron, pull_request) AND NOT branch =~ ^greenkeeper/.*
      env: TAV=pg,cassandra-driver,restify
      script: tav --quiet
    -
      node_js: '8'
      if: type IN (cron, pull_request) AND NOT branch =~ ^greenkeeper/.*
      env: TAV=got,bluebird,apollo-server-express
      script: tav --quiet
    -
      node_js: '8'
      if: type IN (cron, pull_request) AND NOT branch =~ ^greenkeeper/.*
      env: TAV=ws,graphql,express-graphql,elasticsearch,hapi,express,express-queue
      script: tav --quiet
    -
      node_js: '8'
      if: type IN (cron, pull_request) AND NOT branch =~ ^greenkeeper/.*
      env: TAV=fastify,mysql,mysql2,knex,mimic-response,ioredis,generic-pool
      script: tav --quiet

    # Node.js 6
    -
      node_js: '6'
      if: type IN (cron, pull_request) AND NOT branch =~ ^greenkeeper/.*
      env: TAV=redis,koa-router,handlebars,jade,pug,mongodb-core,finalhandler
      script: tav --quiet
    -
      node_js: '6'
      if: type IN (cron, pull_request) AND NOT branch =~ ^greenkeeper/.*
      env: TAV=pg,cassandra-driver,restify
      script: tav --quiet
    -
      node_js: '6'
      if: type IN (cron, pull_request) AND NOT branch =~ ^greenkeeper/.*
      env: TAV=got,bluebird,apollo-server-express
      script: tav --quiet
    -
      node_js: '6'
      if: type IN (cron, pull_request) AND NOT branch =~ ^greenkeeper/.*
      env: TAV=ws,graphql,express-graphql,elasticsearch,hapi,express,express-queue
      script: tav --quiet
    -
      node_js: '6'
      if: type IN (cron, pull_request) AND NOT branch =~ ^greenkeeper/.*
      env: TAV=fastify,mysql,mysql2,knex,mimic-response,ioredis,generic-pool
      script: tav --quiet

    ###########################################
    #        NODE.JS PRE-RELEASE STAGE        #
    ###########################################

    # Nightlies
    - stage: Node.js pre-releases
      node_js: '12'
      name: "Node.js: 12-nightly"
      if: type = cron
      env: NVM_NODEJS_ORG_MIRROR=https://nodejs.org/download/nightly/
    -
      node_js: '11'
      name: "Node.js: 11-nightly"
      if: type = cron
      env: NVM_NODEJS_ORG_MIRROR=https://nodejs.org/download/nightly/
    -
      node_js: '10'
      name: "Node.js: 10-nightly"
      if: type = cron
      env: NVM_NODEJS_ORG_MIRROR=https://nodejs.org/download/nightly/
    -
      node_js: '8'
      name: "Node.js: 8-nightly"
      if: type = cron
      env: NVM_NODEJS_ORG_MIRROR=https://nodejs.org/download/nightly/
    -
      node_js: '6'
      name: "Node.js: 6-nightly"
      if: type = cron
      env: NVM_NODEJS_ORG_MIRROR=https://nodejs.org/download/nightly/

    # Nightlies - No async hooks
    -
      node_js: '12'
      name: "Node.js: 12-nightly (no async hooks)"
      if: type = cron
      env:
        - ELASTIC_APM_ASYNC_HOOKS=false
        - NVM_NODEJS_ORG_MIRROR=https://nodejs.org/download/nightly/
    -
      node_js: '11'
      name: "Node.js: 11-nightly (no async hooks)"
      if: type = cron
      env:
        - ELASTIC_APM_ASYNC_HOOKS=false
        - NVM_NODEJS_ORG_MIRROR=https://nodejs.org/download/nightly/
    -
      node_js: '10'
      name: "Node.js: 10-nightly (no async hooks)"
      if: type = cron
      env:
        - ELASTIC_APM_ASYNC_HOOKS=false
        - NVM_NODEJS_ORG_MIRROR=https://nodejs.org/download/nightly/
    -
      node_js: '8'
      name: "Node.js: 8-nightly (no async hooks)"
      if: type = cron
      env:
        - ELASTIC_APM_ASYNC_HOOKS=false
        - NVM_NODEJS_ORG_MIRROR=https://nodejs.org/download/nightly/

    # Release Candidates
    -
      node_js: '12'
      name: "Node.js: 12-rc"
      if: type = cron
      env: NVM_NODEJS_ORG_MIRROR=https://nodejs.org/download/rc/
    -
      node_js: '11'
      name: "Node.js: 11-rc"
      if: type = cron
      env: NVM_NODEJS_ORG_MIRROR=https://nodejs.org/download/rc/
    -
      node_js: '10'
      name: "Node.js: 10-rc"
      if: type = cron
      env: NVM_NODEJS_ORG_MIRROR=https://nodejs.org/download/rc/
    -
      node_js: '8'
      name: "Node.js: 8-rc"
      if: type = cron
      env: NVM_NODEJS_ORG_MIRROR=https://nodejs.org/download/rc/
    -
      node_js: '6'
      name: "Node.js: 6-rc"
      if: type = cron
      env: NVM_NODEJS_ORG_MIRROR=https://nodejs.org/download/rc/

    # Release Candidates - No async hooks
    -
      node_js: '12'
      name: "Node.js: 12-rc (no async hooks)"
      if: type = cron
      env:
        - ELASTIC_APM_ASYNC_HOOKS=false
        - NVM_NODEJS_ORG_MIRROR=https://nodejs.org/download/rc/
    -
      node_js: '11'
      name: "Node.js: 11-rc (no async hooks)"
      if: type = cron
      env:
        - ELASTIC_APM_ASYNC_HOOKS=false
        - NVM_NODEJS_ORG_MIRROR=https://nodejs.org/download/rc/
    -
      node_js: '10'
      name: "Node.js: 10-rc (no async hooks)"
      if: type = cron
      env:
        - ELASTIC_APM_ASYNC_HOOKS=false
        - NVM_NODEJS_ORG_MIRROR=https://nodejs.org/download/rc/
    -
      node_js: '8'
      name: "Node.js: 8-rc (no async hooks)"
      if: type = cron
      env:
        - ELASTIC_APM_ASYNC_HOOKS=false
        - NVM_NODEJS_ORG_MIRROR=https://nodejs.org/download/rc/

addons:
  apt:
    packages:
     - xsltproc
     - libxml2-utils

notifications:
  email:
    - watson@elastic.co
  slack:
    secure: Jq9ST6TYsZZtPgUdn60rZCfcclNF1cXaCqemt9ZKvqlDie9kbyJjU9t0K+EFdlQXgzM5sGAC+okRO9c29zMDuWvsuY6wb5K2p9j1cxfOn1FTc4xcxh/fKelu1Q7nGaMOIPvQuoI/TQBo4pwACyjli+ohz7DMVMRcans6GR+P0S8=
    on_success: change
    on_failure: change
    on_pull_requests: false
