version: '2.1'

services:
  cassandra:
    extends:
      file: docker-compose.yml
      service: cassandra
  node_tests:
    extends:
      file: docker-compose-node-test.yml
      service: node_tests
    depends_on:
      cassandra:
        condition: service_healthy

volumes:
  nodecassandradata:
    driver: local

networks:
  apm-agent-nodejs:
    driver: bridge
