version: '2.1'

services:
  mongodb:
    extends:
      file: docker-compose.yml
      service: mongodb
  node_tests:
    extends:
      file: docker-compose-node-test.yml
      service: node_tests
    depends_on:
      mongodb:
        condition: service_healthy

volumes:
  nodemongodata:
    driver: local

networks:
  apm-agent-nodejs:
    driver: bridge
