version: '2.1'

services:
  node_tests:
    build:
      context: node-edge-container
      dockerfile: Dockerfile
      args:
        - NODE_VERSION=${NODE_VERSION}
        - NODE_FULL_VERSION=${NODE_FULL_VERSION}
        - NVM_NODEJS_ORG_MIRROR=${NVM_NODEJS_ORG_MIRROR}
        - ELASTIC_APM_CONTEXT_MANAGER=${ELASTIC_APM_CONTEXT_MANAGER}
    working_dir: /app
    command: >
      /bin/bash -c ".ci/scripts/docker-test.sh"
    environment:
      MONGODB_HOST: 'mongodb'
      REDIS_HOST: 'redis'
      ES_HOST: 'elasticsearch'
      MSSQL_HOST: 'mssql'
      MYSQL_HOST: 'mysql'
      CASSANDRA_HOST: 'cassandra'
      PGHOST: 'postgres'
      PGUSER: 'postgres'
      MEMCACHED_HOST: 'memcached'
      LOCALSTACK_HOST: 'localstack'
      NODE_VERSION: ${NODE_VERSION}
      NODE_FULL_VERSION: ${NODE_FULL_VERSION}
      NVM_NODEJS_ORG_MIRROR: ${NVM_NODEJS_ORG_MIRROR}
      ELASTIC_APM_CONTEXT_MANAGER: ${ELASTIC_APM_CONTEXT_MANAGER}
      TAV: ${TAV_MODULE}
      HOME: /tmp
    volumes:
      - ${PWD}:/app
    user: ${USER_ID}
