version: '2.1'

services:
  postgres:
    extends:
      file: docker-compose.yml
      service: postgres
  node_tests:
    extends:
      file: docker-compose-node-test.yml
      service: node_tests
    depends_on:
      postgres:
        condition: service_healthy

volumes:
  nodepgdata:
    driver: local

networks:
  apm-agent-nodejs:
    driver: bridge
