version: '2.1'

services:
  node_tests:
    build:
      context: node-container
      dockerfile: Dockerfile
      args:
        - NODE_VERSION=${NODE_VERSION}
    working_dir: /app
    command: >
      /bin/bash -c ".ci/scripts/docker-test.sh"
    environment:
      MONGODB_HOST: 'mongodb'
      REDIS_HOST: 'redis'
      ES_HOST: 'elasticsearch'
      MSSQL_HOST: 'mssql'
      MYSQL_HOST: 'mysql'
      CASSANDRA_HOST: 'cassandra'
      PGHOST: 'postgres'
      PGUSER: 'postgres'
      MEMCACHED_HOST: 'memcached'
      LOCALSTACK_HOST: 'localstack'
      NODE_VERSION: ${NODE_VERSION}
      TAV: ${TAV_MODULE}
      ELASTIC_APM_CONTEXT_MANAGER: ${ELASTIC_APM_CONTEXT_MANAGER}
      HOME: /tmp
      PATH: /app/node_modules/.bin:./node_modules/.bin:/app/node_modules:/bin:/sbin:/usr/bin:/usr/sbin:/usr/local/bin:/usr/local/sbin
    volumes:
      - ${PWD}:/app
    user: ${USER_ID}
