---
name: edge

# The "Edge Test" is a run of the agent test suite with pre-release builds
# of node.js, if available and useful. "Pre-release" builds are release
# candidate (RC) and "nightly" node.js builds.

on:
  workflow_dispatch:
  schedule:
    # Every Monday & Thursday at 6:00 AM
    - cron: '0 6 * * 1,4'

# limit the access of the generated GITHUB_TOKEN
permissions:
  contents: read

jobs:
  # The node.js project produces "nightly" builds of the tip of *some*
  # development branches. They get uploaded to:
  # https://nodejs.org/download/nightly/
  #
  # My observation is that nightly builds are only made for the next major
  # version *up to the point there is a release of that version*.  For example,
  # at time of writing, there is not yet a v17 release of node, and
  # "v17.0.0-nightly*" builds are being created. Once a v17.0.0 release has been
  # made, these will stop and there will be no value in testing v17 nightlies.
  #
  test-nightly:
    runs-on: ubuntu-24.04
    timeout-minutes: 30
    strategy:
      fail-fast: false
      matrix:
        node: [ "23" ]
    steps:
      - uses: actions/checkout@v5
      - run: .ci/scripts/test.sh -b "nightly" "${{ matrix.node }}"

  # This should list all the Node.js major versions listed at
  # https://nodejs.org/en/about/releases/, plus the next version (for which
  # nightlies are currently being built).
  #
  # The node.js project *sometimes* produces "rc" builds leading up to a new
  # release. They get uploaded to: https://nodejs.org/download/rc/
  test-rc:
    runs-on: ubuntu-24.04
    timeout-minutes: 30
    strategy:
      fail-fast: false
      matrix:
        node:
          - "23"
          - "22"
          - "20"
          - "18"
    steps:
      - uses: actions/checkout@v5
      - run: .ci/scripts/test.sh -b "rc" "${{ matrix.node }}"
        env:
          VERSION: ${{ matrix.node }}
