name: Test

# https://github.community/t/how-to-trigger-an-action-on-push-or-pull-request-but-not-both/16662/2
on:
  push:
    branches:
    - master
  pull_request:
    branches:
    - master

jobs:
  test-vers:

    # These services and their configuration should match test/docker-compose.yml.
    services:

      redis:
        image: redis
        ports:
          - 6379:6379

      memcached:
        image: memcached:alpine
        ports:
          - 11211:11211

      cassandra:
        image: cassandra
        ports:
          - 9042:9042
        environment:
          MAX_HEAP_SIZE: '1G'
          HEAP_NEWSIZE: '400m'
        volumes:
          - nodecassandradata:/var/lib/cassandra

      postgres:
        image: postgres:9.6
        ports:
          - 5432:5432
        volumes:
          - nodepgdata:/var/lib/postgresql/data
        env:
          POSTGRES_USER: 'postgres'
          POSTGRES_DB: 'test_elastic_apm'
          POSTGRES_HOST_AUTH_METHOD: 'trust'

      mongodb:
        image: mongo
        ports:
          - 27017:27017
        volumes:
          - nodemongodata:/data/db

      mysql:
        image: mysql:5.7
        ports:
          - 3306:3306
        volumes:
          - nodemysqldata:/var/lib/mysql
        env:
          MYSQL_ALLOW_EMPTY_PASSWORD: 1

      mssql:
        image: microsoft/mssql-server-linux
        env:
          ACCEPT_EULA: 'Y'
          SA_PASSWORD: 'Very(!)Secure'
          MSSQL_PID: 'Developer'
        ports:
          - 1433:1433
        volumes:
          - nodemssqldata:/var/opt/mssql

      elasticsearch:
        image: docker.elastic.co/elasticsearch/elasticsearch:7.10.1
        env:
          ES_JAVA_OPTS: '-Xms512m -Xmx512m'
          network.host: ''
          transport.host: '127.0.0.1'
          http.host: '0.0.0.0'
          xpack.security.enabled: 'false'
        ports:
          - 9200:9200
        volumes:
          - nodeesdata:/usr/share/elasticsearch/data
      # XXX es

    strategy:
      matrix:
        # XXX Just one version while in draft.
        #node: ['8.0', '8', '10.0', '10', '12.0', '12', '14.0', '14', '15']
        node: ['14']
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-node@v2
      with:
        node-version: ${{ matrix.node }}
    - run: docker ps  # the services against which we'll be testing
    - run: npm install
    - run: ./test/script/run_tests.sh
      env: CI=true
